$pink: #f9a4ab;
$blue: #5cc6d0;
$yellow: #ffcc29;
$text-color: #564741;
$checks-pink: #ffa58a;
$font-size-header: 42px;
$font-size-text: 16px;
$icon-margin-right: 10px;

.icon-pink {
  color: $pink;
  margin-right: $icon-margin-right;
}
.icon-blue {
  color: $blue;
  margin-right: $icon-margin-right;
}
.icon-yellow {
  color: $yellow;
  margin-right: $icon-margin-right;
}
@mixin price-packages {
  margin-top: 2rem;
  p {
    margin: 1rem auto;
    font-size: 200;
  }
}
@mixin price-worth {
  font-size: 32px;
  font-weight: 700;
  margin: 1rem auto;
  color: $text-color;
}
@mixin price-day-care {
  margin: 1rem auto;
  color: $text-color;
}
@mixin price-card-title {
  margin: 1rem auto;
  color: pink;
  font-size: 16px;
}
@mixin price-card-format {
  width: 300px;
  background: white;
  // border: 1px solid black;
  padding: 2rem;
  position: relative;
  margin: 2rem 2rem;
  border-radius: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
@mixin container-card-flex {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
@mixin img-flex {
  min-width: 400px;
  width: 50vw;
  position: relative;
  margin: 1rem;
  img {
    width: 100%;
  }
}

@mixin parent-flex {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

@mixin content-flex {
  min-width: 400px;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin: 1rem;
}

@mixin checks-flex {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0rem;
}

.hero-section {
  @include parent-flex;
  padding-top: 1rem;

  &-content {
    @include content-flex;
    padding: 20px;
    position: relative;

    h1 {
      text-transform: uppercase;
      font-size: $font-size-header;
      color: $text-color;
      line-height: 62px;
      text-align: left;
      margin-bottom: 2rem;

      span {
        color: $yellow;
      }
    }
    p {
      width: 100%;
      color: $text-color;
      font-weight: 200;
      margin-bottom: 2rem;
      text-align: left;
    }

    &-buttons {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.pet-love {
  @include parent-flex;
  padding-top: 3rem;

  &-content {
    //  @include content-flex;
    width: 400px;
    color: $text-color;
    padding: 20px;
    position: relative;

    small {
      margin-bottom: 2rem;
    }

    &-header {
      font-size: $font-size-header;
      margin: 2rem 0rem;
    }
    &-text {
      font-size: $font-size-text;
      text-align: left;
      font-weight: 300;
    }

    &-checks {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin: 2rem 0rem;

      .check-square {
        margin-right: 10px;
        color: $checks-pink;
      }
      &-1 {
        @include checks-flex;
      }
      &-2 {
        @include checks-flex;
      }
    }
  }
  &-img {
    @include img-flex;
  }
}

.pet-vacation {
  @include parent-flex;
  // justify-content: center;

  &-content {
    // @include content-flex;
    width: 400px;
    color: $text-color;
    padding: 20px;
    position: relative;

    &-header {
      margin: 2rem 0rem;
      color: $text-color;
      font-size: $font-size-header;
      text-align: left;
    }
    &-text {
      margin: 1.5rem 0rem;
      color: $text-color;
      font-size: $font-size-text;
      text-align: left;
      font-weight: 200;
    }

    &-icons {
      max-width: 400px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1rem 0rem;
      p {
        color: $text-color;
        font-size: 12px;
        // margin: 0rem 1rem;
        margin-right: 5px;
      }
    }
  }
  &-img {
    @include img-flex;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-wrap: wrap;
    img {
      width: 40%;
    }
  }
}

.pet-food-accessory {
  padding: 5rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
  background: #fff6ef;

  &-header {
    font-size: 32px;
    margin-bottom: 2rem;
    color: $text-color;
    text-align: center;
  }
  &-cards-container {
    @include container-card-flex;
  }
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;

  small {
    margin: 1rem 0rem;
    color: $text-color;
  }
  &-header {
    color: $text-color;
    font-size: $font-size-header;
    margin: 1rem 0rem;
  }

  &-container {
    @include container-card-flex;
  }
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem auto;
  width: 100%;
  position: relative;
  background-color: #fff6ef;
  &-header {
    color: $text-color;
    font-size: $font-size-header;
    margin: 2rem auto;
  }
  &-txt {
    color: $text-color;
    font-size: $font-size-text;
    font-weight: 200;
    text-align: center;
    margin: 1rem 2rem;
  }

  &-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 2rem auto;

    .basic {
      @include price-card-format;

      &-title {
        @include price-card-title;
      }
      &-day-care {
        @include price-day-care;
      }
      &-price {
        @include price-worth;
      }
      &-packages {
        @include price-packages;
      }
    }
    .exclusive {
      @include price-card-format;
      &-title {
        @include price-card-title;
        color: $yellow;
      }
      &-day-care {
        @include price-day-care;
      }
      &-price {
        @include price-worth;
      }
      &-packages {
        @include price-packages;
      }
    }

    .platinum {
      @include price-card-format;
      &-title {
        @include price-card-title;
        color: $blue;
      }
      &-day-care {
        @include price-day-care;
      }
      &-price {
        @include price-worth;
      }
      &-packages {
        @include price-packages;
      }
    }
  }
}
